<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/homepage.css">
    <title>Home</title>
</head>

<body>
    <div class="banner">
        <img src="../Images/TeaStirLogo.svg" alt="TeaStir" id="logo">
    </div>
    <div class="cta-caption">
        <h1 class="cta-text">Tea By Type</h1>
    </div>
    <!-- Survey based on Caffeine Level -->
    <!-- This form will collect user's inputs of their preferences in the form of radios -->
    <!-- When the user hit the "Submit" button, the form will get submitted by the method of post -->
    <form class="form p-2" action="/caffeine" method="POST">
        <table class="cta-btn-table">
            <tr>
                <th>
                    <!-- Herbal & corresponding choices -->
                    <h3 class="cta-text"> Caffeine Level </h3>
                </th>
                <th>
                    <input type="radio" name="caffeineLevel" value="high">High
                    <input type="radio" name="caffeineLevel" value="medium">Medium
                    <input type="radio" name="caffeineLevel" value="low">Low
                    <input type="radio" name="caffeineLevel" value="free">Caffeine-free
                </th>
            </tr>
        </table>
        <div class="cta-btn-div">
            <button class="cta-btn" type="submit">
                <p class="cta-btn-text">Submit</p>
            </button>
        </div>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>

</html>